httpagentparser
huggingface-hub
kaleido
langchain
langchain-community
langchain-core
langchain-experimental
langchain-google-genai
langchain-text-splitters
langsmith
psycopg2-binary
streamlit
sqlparse
pymilvus==2.5.3
streamlit_lottie
sentence_transformers
openai
plotly